.footer_txt{
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #FFFEFE;
    background: #292C3E;
    text-align: center;
    padding: 20px 0px;}





    @media only screen and (max-width:370px){
        .select_breadcumb{margin-top: 5px;}
    }