<section class="login_section">
    <div class="container login_form">
        <div class="row">

            <div class="col-md-6">
                <div class="signin-form">
                    <h2>Welcome Back</h2>

                    <form action="/" method="post">
                        <input name="" type="hidden" value="">
                        <div class="form-group inner-addon left-addon addon-lg text-left">
                            <label for="Email">Email:</label>
                            <div class="inner-addon left-addon addon-lg text-left">
                                <i class="fa fa-envelope"></i>
                                <input class="form-control input-lg" data-val="true" data-val-required="Email Required"
                                    id="Email" name="Email" placeholder="Email Address" required="required" type="email"
                                    value="">
                            </div>


                        </div>
                        <div class="form-group text-left">
                            <label for="Password">Password:</label>
                            <div class="inner-addon left-addon addon-lg text-left">
                                <i class="fa fa-lock"></i>
                                <input class="form-control input-lg" data-val="true"
                                    data-val-required="Password Required" id="Password" name="Password"
                                    placeholder="Password" required="required" type="password">
                            </div>


                        </div>
                        <div class="form-group text-left">
                            <label style="font-weight: normal">
                                <input data-val="true" data-val-required="The ExtendCookie field is required."
                                    id="ExtendCookie" name="ExtendCookie" type="checkbox" value="true"><input
                                    name="ExtendCookie" type="hidden" value="false"> Keep me logged in for 1 week <span
                                    style="color: #ddd;">(I trust this computer)</span>
                            </label>


                        </div>
                        <input data-val="true" data-val-number="The field UtcOffset must be a number."
                            data-val-required="The UtcOffset field is required." id="utcoffset" name="UtcOffset"
                            type="hidden" value="-330"><input id="ReturnUrl" name="ReturnUrl" type="hidden" value="">
                        <div class="form-group">
                            <button type="submit" class="btn btn-lg btn-success btn-block">Sign in</button>
                        </div>
                        <div>
                            <div class="forgot">
                                <a href="#">Forgot Password?</a>
                            </div>
                        </div>
                    </form>



                </div>
            </div>
            <div class="col-md-6">
                <div class="signin-articles">
                    <h2>
                        Things You May Find Useful
                    </h2>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#" class="article-title">Sending scheduled forms</a>
                            <p>
                                Did you know that you can schedule forms to be sent based around appointment dates?
                                <a class="read-more" href="#">Read more →</a>

                            </p>
                        </li>
                        <li>
                            <a href="#" class="article-title">Receive SMS Notifications for Booked Appointments</a>
                            <p>
                                Get a text message every time a client books an appointment using your booking widget.
                                <a class="read-more" href="#">Read more →</a>

                            </p>
                        </li>
                        <li>
                            <a href="#" class="article-title">Improving the performance of your forms</a>
                            <p>
                                If you have a long questionnaire and some of your clients are complaining that your form
                                is slow, read this article!
                                <a class="read-more" href="#">Read more →</a>

                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>