.signin-form {
    padding: 20px;
    background-color: #3498db;
    color: #fff;
}

.login_form {
    background: #fff;
    box-shadow: 0 0 4px #ddd;
    padding: 6rem 2.5rem 7rem 2.5rem;
    margin-bottom: 2.5rem;
}
.signin .signin-articles h2 {
    margin-top: 0;
    padding-top: 0;
    color: #999;
}