<section class="pricing">
    <div class="container">
        <div class="col-md-9 mx-auto d-block pricing_list">
        <h2 class="text-center">Insanely Affordable Pricing</h2>
        <h4 class="text-center" id="pricing-anchor">No contract, cancel anytime.</h4>
    
    <div class="row">

        <div class="col-md-6">
            <div class="plan plan1">
                <ul class="list-unstyled regular-pricing">
                    <li class="title main_title">
                        Forms Only
                    </li>
                    <li class="price">
                        <span class="dollar">$</span>
                        <span class="big" id="starter_price">49.90</span>
                        <span class="small1"> /month</span>
                    </li>
                    <li>
                        Unlimited Form Templates
                    </li>
                    <li>
                        Branded Custom Forms
                    </li>
                    <li data-toggle="tooltip" data-placement="top" title=""
                        data-original-title="Allow your patients to upload files through your intake forms. Upload your own files to the client timeline.">
                        Accept Attachments
                    </li>
                    <li data-toggle="tooltip" data-placement="top" title=""
                        data-original-title="Go 100% paperless by accepting e-signatures in your waivers and consent forms">
                        Client and Provider e-Signatures
                    </li>
                    <li data-toggle="tooltip" data-placement="top" title=""
                        data-original-title="Make sure clients don't forget to submit their forms by settings up custom form reminders">
                        Form Reminders
                    </li>
                    <li data-toggle="tooltip" data-placement="top" title=""
                        data-original-title="Keep a secure patient timeline with forms, files and treatment notes. The note templates are as flexible as our intake forms.">
                        Treatment Notes (SOAP, etc.)
                    </li>
                    <li data-toggle="tooltip" data-placement="top" title=""
                        data-original-title="Share forms and notes with clients or 3rd parties using 2-Factor Authentication. Electronic Faxing is also available.">
                        Secure Document Sharing
                    </li>
                    <li>
                        Export to PDF/CSV/Dropbox
                    </li>
                    <li data-toggle="tooltip" data-placement="top" title=""
                        data-original-title="Send and receive faxes without a fax machine. *Additional charges apply.">
                        E-Faxing*
                    </li>
                    <li data-toggle="tooltip" data-placement="top" title=""
                        data-original-title="All our plans are covered under a HIPAA Business Associate Agreement.">
                        HIPAA BAA
                    </li>
                    <li>
                        2 Assistant Accounts
                    </li>
                    <li>
                        $20 Per Additional Practitioner
                    </li>
                    <div class="button_big">
                        
                        <a routerLink="/signup">
                            FREE TRIAL 
                            <div>
                                <span>No credit card required</span>
                            </div>
                        </a>
                    </div>
                </ul>           
            </div>
        </div>

        <div class="col-md-6">
            <div class="plan plan2">
                <ul class="list-unstyled  regular-pricing">
                    <li class="title main_title">
                        Practice Management
                    </li>
                    <li class="price">
                        <span class="dollar">$</span>
                        <span class="big" id="full_price">59.90</span>
                        <span class="small1"> /month</span>
                    </li>
                    <li>
                        <strong>
                            All Features from Forms Only
                        </strong>

                    </li>
                    <li>
                        Complete Appointment Management
                    </li>
                    <li data-toggle="tooltip" data-placement="top" title=""
                        data-original-title="Reduce no-shows by sending automated SMS or voice appointment reminders">
                        Appointment Reminders
                    </li>
                    <li data-toggle="tooltip" data-placement="top" title=""
                        data-original-title="Allow your clients to book appointments directly from your website. Your intake package can be sent automatically.">
                        Booking Widget
                    </li>
                    <li data-toggle="tooltip" data-placement="top" title=""
                        data-original-title="Set up different intake packages for each appointment type and IntakeQ will handle the rest. Clients will receive their intake package when appointment is booked. We'll also take care of reminding them to submit their forms, when necessary.">
                        Automated Intake
                    </li>



                    <li data-toggle="tooltip" data-placement="top" title=""
                        data-original-title="A safer and easier way to communicate with your clients">
                        Secure Client Portal
                    </li>
                    <li data-toggle="tooltip" data-placement="top" title=""
                        data-original-title="Integrate IntakeQ with Stripe or Square and allow clients to pay online. Process payments from your end too.">
                        Payments/Invoices (Stripe or Square)
                    </li>
                    <li>
                        Recurring Payments
                    </li>
                    <li data-toggle="tooltip" data-placement="top" title=""
                        data-original-title="Our billing module allows you to issue Superbills and submit/track claims via our Office Ally integration.">
                        Claims &amp; Superbills
                    </li>
                    <li data-toggle="tooltip" data-placement="top" title=""
                        data-original-title="A painless task management system that will keep you and your team on top of client related tasks">
                        Task Management
                    </li>
                    <li>
                        Telehealth ($10 add-on) <span class="label label-warning">new</span>
                    </li>
                    <li>
                        $20 Per Additional Practitioner
                    </li>
                    <div class="button_big">
                        <a routerLink="/signup">
                            FREE TRIAL 
                            <div>
                                <span>No credit card required</span>
                            </div>
                        </a>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
</section>