body{
    font-family: 'Poppins', sans-serif;
    color: #212529;
    background-color: #3b3d50 !important;
}
.pricing h2 {
    text-align: center;
    font-size: 1.8em;
    margin: 1rem 0 0.5rem 0;
    font-weight: 500;
    color:#fff;
    line-height: 30px;
}

.pricing h4 {
    text-align: center;
    font-weight: lighter;
    font-size: 1rem;
    margin-bottom: 10px;
    color: #fff;
}
.pricing .plan {
    margin: 30px auto;
    max-width: 339px;
    text-align: center;
    padding: 0;
    background: #484D69;
    border-radius: 10px;
}
#pricing .plan.plan1 .title {
    background: #256e9e;
}
.pricing .plan.plan1 .title {
    background: linear-gradient(90deg, #954FB8 0%, #7549AD 94.41%);
    border-radius: 12px 12px 0px 0px;
}
.pricing .plan .title {
    font-size: 1.6em;
    padding: 15px 20px;
    font-weight: bold;
    color: #fff;
}

.pricing .plan ul li.price {
    background: #f6f6f6;
}  
ul .regular-pricing .title {
    font-size: 1.6em;
    padding: 15px 20px;
    font-weight: bold;
    color: #fff;
}
.main_title {
    font-size: 14px !important;
    padding: 10px 20px;
    font-weight: 600 !important;
    color: #fff !important;
    line-height: 21px;
}
.pricing .plan.plan2 .title {
    background: linear-gradient(90deg, #954FB8 0%, #7549AD 94.41%);
    border-radius: 12px 12px 0px 0px;
}
.pricing .plan.plan2 {
    border: none;
    margin-top: 30px;
    box-shadow: 0 0 22px rgb(10 10 10 / 42%);
}
.pricing .plan ul li.button.big {
    font-size: 18px;
    font-weight: bold;
}
.pricing .plan ul li.button.big {
    font-size: 18px;
    font-weight: bold;
}

.pricing .plan ul li.button {
    background: linear-gradient(90deg, #954FB8 0%, #7549AD 94.41%);
    padding: 0;
    color: #fff;
}


.pricing .plan ul li.button a:hover {
    text-decoration: none;
    background: #4cae4c;
}
.pricing .plan ul li.button a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: #fff;
}
.pricing_list{background-color: #292C3E;border-radius: 12px;margin: 6.6rem 0px;max-width: 798px;}
.regular-pricing .price{color: #222;font-weight: 600;font-size: 14px;line-height: 21px;padding: 10px 20px;}
.regular-pricing .price small{color: #222;font-weight: 600;font-size: 14px;}
.regular-pricing li:nth-child(3){margin-top: 10px;}
.regular-pricing li{font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 27px;
    text-align: center;
    padding-top: 5px;
    color: #FFFFFF;}
    .button_big a{ text-decoration: none;color: #fff;}
    .button_big{
        font-size: 15px;
        font-weight: 600;
        line-height: 22px;
        margin: 10px 0px;
        background: linear-gradient(
    90deg
    , #954FB8 0%, #7549AD 94.41%);
    padding: 10px 0px;
    }
    .list-unstyled{padding-bottom: 1rem;}