@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    color: #212529;
    background-color: #3b3d50 !important;
}
.pricing_list {
    background-color: #292C3E;
    border-radius: 12px;
    padding: 40px;
    margin: 6.6rem 0px;
    max-width: 798px;
}