.select_breadcumb{
    background: #292C3E;
    border-radius: 4px;
}
.breadcrumb{padding-left: 0px;}
.fa_home{font-size: 17px;}
.select_breadcumb {
    width: 156px;
    height: 44px;
    position: relative;
    background: #292C3E;
    margin-top: -11px;
    margin-right: 20px;
    text-align: center;
    line-height: 40px;
    margin-left: 10px;
  }
  .select_breadcumb:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 8px solid #3b3d50 ;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  .select_breadcumb:before {
    content: "";
    position: absolute;
    right: -22px;
    bottom: 0;
    width: 24px;
    height: 0;
    border-left: 13px solid #292C3E;
    border-top: 25px solid transparent;
    border-bottom: 20px solid transparent;
  }
.sign_desing, a{
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;   
    color: #FFFFFF;
    text-align: center;} 
    #signup_form form button {
        padding: 16px;
        font-size: 14px;
        line-height: 21px;
        color: #fff;
        border-color: #954FB8;
        background: linear-gradient(90deg, #954FB8 0%, #7549AD 94.41%);
        border-radius: 8px;
    }
    #signup_form label, a{
        font-size: 12px;
        line-height: 18px;
        font-weight: normal;
        color: #fff;}
    #signup_form form input {
        height: 45px;
        font-size: 16px;
        background: #484D69;
        border-color: #484D69;
        border-radius: 10px;
        color: #fff;
    }