<section class="login_section">
    <div class="container">
        <div class="col-md-6 mx-auto d-block common_mr_tp">
            <div class="common_view_step">
                <div class="breadcrumb">
                <a routerLink="/"><i class="far fa fa-home fa_home mr-2"></i></a> Portal Home <div class="select_breadcumb"> Forget passwrod </div> Create an account with us...
                </div>   
               </div>
               <div class="pricing_list">   
        <div id="signup_form">        
        <div class="row">  
            <div class="col-sm-12">
                <div class="signup_head mb-5">
                    <h1 class="col-xs-12 ">
                        Lost Password Reset
                    </h1>
                    <h2 class="col-xs-12 ">
                        Forgotten your password? Enter your email address
                        below to begin the reset process.
                    </h2>
                    </div>
                <div class="text-left">
                    <form >  
                        <div class="form-group mb-4 pb-1">
                            <label for="Email">Email Address</label>
                            <input class="form-control email" data-val="true"
                                data-val-email="The Email field is not a valid e-mail address."
                                data-val-required="Email Required" id="Email" maxlength="60" formControlName="email"
                                placeholder="Email" required="required" type="email" value="">
                        </div>
                                            
                        <div class="form-group">
                          <button type="submit" class="g-recaptcha btn btn-lg btn-success btn-block">
                            Reset my Password
                            </button>
                        </div>
                        <div class="sign_desing">                            
                            <a routerLink="/login">
                                Go back to Login
                            </a>
                        </div>
                    </form>
                </div>


            </div>

            
        </div>
        </div>
    </div>
    </div>
</div>
</section>