/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/css/font-awesome.css';

body{
    font-family: 'Poppins', sans-serif;
    color: #212529;
    background-color: #3b3d50 !important;
}
.pricing_list {
    background-color: #292C3E;
    border-radius: 12px;
    padding: 40px;
    max-width: 798px;
}
.breadcrumb{
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    background: transparent;
    padding-left: 0px;
}
.select_breadcumb{
    background: #292C3E;
    border-radius: 4px;
}
.common_mr_tp{margin: 6.6rem 0px;}
h1 {
        margin-top: 0px;
        font-size: 24px;
        text-align: left;
        line-height: 36px;
        color: #fff;
    }
    h2{
        font-size: 14px;
        font-weight: lighter;
        line-height: 21px;
        color: #fff;
    }
    .signup_list_rt{border-left: 1px solid #818181;}

    .signin-form form input {
        height: 45px;
        font-size: 16px;
        background: #484D69;
        border-color: #484D69;
        border-radius: 10px;
        color: #fff;
    }    
::placeholder{
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #99A2BC;
}    
.signin-form form .form-check-input{height: 19px;}
#signup_form .form-check-input{height: 19px;}









@media only screen and (max-width:370px){
    .select_breadcumb{margin-top: 5px;}
}